@import "./variables.scss";

/*---------------Btn--------*/
.btn {
    margin-left: 15px;
    margin-right: 15px;
  }
  #displayIngredients, #displayAppliance, #displayUstensiles{
    width: 170px;
    height: 70px;
      }
   //modification des couleurs des boutons   
  .btn-success{
    background-color: $btnColorAppliance !important;
    border:none;
    transition-duration: $transitionDurationBtn !important;
    &:hover{
      background-color: $colorHoverInputAppliance !important;
      transition-duration: $transitionDurationBtn !important;
    }
  }
.btn-danger{
  background-color: $btnColorUstensils !important;
  border:none;
  transition-duration: $transitionDurationBtn !important;
  &:hover{
    background-color: $colorHoverInputUstensils !important;
    transition-duration: $transitionDurationBtn !important;
  }
}
.btn-primary{
  background-color: $btnColorIngredient !important;
  border:none;
  transition-duration: $transitionDurationBtn !important;
  &:hover{
    background-color: $colorHoverInputIngredient !important;
    transition-duration: $transitionDurationBtn !important;
  }
}


  .btnSearchBarContenair{
    display: flex;
    justify-content: space-between;
  }
  .btnSearchBarTitle{
    font-size: 17px;
  }
  .fa-angle-down{
    padding-left: 40px;
  }
  .filters{
    display: flex;
  position: absolute;
 
   z-index: 1;
  
    }
  /*---------------card tag--------*/
  #tagIngredients, #tagAppliance, #tagUstensiles{
  width: auto;
  height: 36px;
  }
  .tags{
    display: flex;
    margin-bottom: 15px;
  }
  .close{
    padding-left: 15px;
    font-size: 17px;
    }
    #tagIngredient,
    #tagAppliance,
    #tagUstensiles {
      display:none;
    }
    .cardTag {
      display: flex;
      justify-content: space-around;
    }
    /*---------- filter btn----*/
  #nameIngredients {
    width: 250px;
    text-decoration: none;
    border: none;
    background-color: $btnColorIngredient;
    transition-duration: $transitionDurationBtn;
     }
     //supprime les bordures de l'imput
     input[type="text"] {
      outline-style: none;
     color: white;
     
      }
  
  #searchIngredients:hover {
    & input {
      background-color: $colorHoverInputIngredient;
      transition-duration: $transitionDurationBtn;
    }
  }
  #searchIngredients {
    background-color: $btnColorIngredient;
    display: none;
    z-index: 1;
    width: 660px;
     input::placeholder {
      color: $colorHoverInputIngredient;
      color: lighten($btnColorIngredient, 5);
      filter: brightness(1.75);
    }
    & input{
      transition-duration: $transitionDurationInput;
}
  }
  #searchAppliance:hover {
    & input {
      background-color: $colorHoverInputAppliance;
      transition-duration: $transitionDurationInput;
    }
  }
  #searchAppliance {
    background-color: $btnColorAppliance;
    display: none;
    z-index: 1;
    width: auto;
    input::placeholder {
      color: $colorHoverInputAppliance;
                 filter: brightness(1.75);
    }
     & input{
      transition-duration: $transitionDurationInput;
}}
  
  #nameAppliance {
    width: 250px;
    text-decoration: none;
    border: none;
    background-color: $btnColorAppliance;
    transition-duration: $transitionDurationBtn;
  }
  
  #nameUstensiles {
    width: 250px;
    text-decoration: none;
    border: none;
    background-color: $btnColorUstensils;
    transition-duration: $transitionDurationBtn;
  }
  #searchUstensiles:hover {
    background-color: $colorHoverInputUstensils;
    transition-duration: $transitionDurationBtn;
    & input {
      background-color: $colorHoverInputUstensils;
           transition-duration: $transitionDurationInput;
    }
  }
  #searchUstensiles {
    background-color: $btnColorUstensils;
    display: none;
     z-index: 1;
    width: auto;
    input::placeholder {
      color: lighten($btnColorUstensils, 5);
      filter: brightness(1.75);
    }
    & input{
      transition-duration: $transitionDurationInput;
}
  }
  // champs de recherche
  #listIngredients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:5px;
    grid-row-gap: 5px;
      }
  .ingredient, .appliance, .ustensils{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   display:block;
   text-align: left;
   font-size: 19px;
  }
  #listAppliance,
  #listIngredients,
  #listUstensiles {
    font-size: 16px;
  margin-left: 15px;
  }
  #listAppliance, #listUstensiles {
    display: grid;
    grid-template-columns: 1fr ;
   
    grid-row-gap: 5px;
  }
  .searchBarContenair{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 15px;
   margin-bottom: 15px;
   margin-right: 10px;
   margin-left: 10px;
     }
  .closeList{
    margin-top: 5px ;
  }