
/*---------------card recette--------*/
//position des cards recipes
.cards {
    justify-content: center;
    margin-top: 130px;
  }
  .card {
    width: 380px;
    height: 365px;
    margin: 23px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  .card img{
    object-fit: cover;
  }
  
  .card-img-top{
    height: 176px;
    object-fit: cover;
  }
  .card-body {
    height: 190px;
    background-color: $colorBodyCard;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 199px;
    overflow: hidden;
  }
  .firstPartieCard {
    display: grid;
    grid-template-columns: 85fr 35fr;
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .secondPartieCard {
    font-size: 11px;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .timing {
    font-family: "Open Sans", "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    width: 130px;
  }
  
  .ingredients {
    font-family: "Open Sans", "Times New Roman", Times, serif;
    width: 150px;
    font-size: 11px;
    & ul {
      list-style-type: none;
      padding: 0;
    }
  }
  .instruction {
    font-family: "roboto", "Times New Roman", Times, serif;
    max-height: 120px;
    padding-left: 20px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
  }
  .recipesTitle {
    font-family: "roboto", "Times New Roman", Times, serif;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
  }
  .nameIngredient {
    font-weight: bold;
  }
  li {
    line-height: 1.2;
  }
  
  .numberTiming{
    font-family: "Lato", "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: -4px;
  }
  .minTiming{
    margin-top: -4px;
    margin-left: 3px;
    font-weight: 600;
    font-family: "Open Sans", "Times New Roman", Times, serif;
  }
  .iconClock{
   font-size: 20px;
   margin-right: 2px;
  }

  @media #{$small-down} {
    .cards{
      margin-right: -130px;
    }
  }