/*-------------logo------------------*/
.logo_lesPetitsPlats{
  display: flex;
  justify-content: center;
align-items: center;
& img{
  width: 260px;
  height: 120px;
  
}}
/*---------------search------------*/
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    color: black;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  /*---------------card recette--------*/
  
  .card{
    width: 380px;
    height: 360px;
    margin: 23px;
    padding-left: 0;
    padding-right: 0;
  }
  .card-img-top{
    height: 170px;
  }
  .card-body{
      height: 190px;
      background-color: blue;
  }
  .firstPartieCard{
    display: grid;
    grid-template-columns: 7fr 2fr;
      font-size: 15px;
      background-color: violet;
      padding-bottom: 3px;
       }
     .secondPartieCard{
       font-size: 11px;
      display: grid;
      grid-template-columns: 1fr 2fr;
     }
  .timing{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
  }
 .far{
      padding-right: 6px;
  }
    .ingredients{
    background-color: red;
    font-size: 9px;
  & ul{
list-style-type: none;
padding:0;
  }
  }
  .instruction{
    background-color: yellow;
    font-size: 9px;
  }