@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*-------------logo------------------*/
.logo_lesPetitsPlats{
  display: flex;
  justify-content: center;
align-items: center;
& img{
  width: 260px;
  height: 120px;
  
}}
/*---------------search------------*/
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    float: left;
    width: 95%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #f1f1f1;
    color: black;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
.search{
  margin-left: 15px;
  margin-right: 15px;
}
 /*---------------Btn--------*/
 .btn{
  width: 300px; 
  margin-left: 15px;
  margin-right: 15px;
}

#nameIngredients{
  width: 250px;
  text-decoration: none;
  border: none;
    background-color: #0d6efd;
    transition-duration: 0.3s;
  }
#searchIngredients:hover{
  & input{
    background-color: #0b5ed7;
    transition-duration: 0.3s;
    }}
    #searchIngredients{
      position: absolute;
      top:167px;
      left:10px;
      z-index: 1;
      width: 660px;
      input::placeholder{
        color: #0b5ed7;
        filter: brightness(1.75); 
      }
    } 
  #nameAppareil{
    width: 250px;
    text-decoration: none;
    border: none;
      background-color: #198754;
      transition-duration: 0.3s;
    }
  #searchAppareil:hover{
    & input{
      background-color: #157347;
      transition-duration: 0.3s;
          }}
          #searchAppareil{
            position: absolute;
            top: 167px;
            left: 190px;
            z-index: 1;
            width: 660px;
            input::placeholder{
              color: #157347;
              filter: brightness(1.75);
            }
          } 
    #nameUstensiles{
      width: 250px;
      text-decoration: none;
      border: none;
        background-color: #dc3545;
        transition-duration: 0.3s;
      }
    #searchUstensiles:hover{
      & input{
        background-color: #bb2d3b;
        transition-duration: 0.3s;
      }}
      #searchUstensiles{
        position: absolute;
      top: 167px; 
      left: 480px;
        z-index: 1;
        width: 660px;
        input::placeholder{
          color: #bb2d3b;
          filter: brightness(1.75);
        }
      }
      // champs de recherche 
 #listIngredients{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
 }     
#listAppareil, #listIngredients, #listUstensiles{
  font-size: 16px;
}
  /*---------------card recette--------*/
  //position des cards recipes
  .cards{
    justify-content: center;
  }
  .card{
    width: 380px;
    height: 360px;
    margin: 23px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  .card-img-top{
    height: 170px;
  }
  .card-body{
      height: 190px;
      background-color: #e7e7e7;
      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
      max-height:199px ;
      overflow: hidden;
  }
  .firstPartieCard{
    display: grid;
    grid-template-columns: 85fr 35fr;
      font-size: 15px;
      padding-top: 25px;
      padding-bottom: 25px;
       }
     .secondPartieCard{
       font-size: 11px;
      display: grid;
      grid-template-columns: 2fr 3fr;
     }
  .timing{
    font-family: "Open Sans", 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;
  }
 
    .ingredients{
    font-family: "Open Sans", 'Times New Roman', Times, serif;
    max-height: 120px;
   font-size: 11px;
  & ul{
list-style-type: none;
padding:0;
  }
  }
  .instruction{
    font-family: "roboto", 'Times New Roman', Times, serif;
    max-height: 120px;
    padding-left: 20px;
    font-size: 12px;
  height: 140px;

  }
  .recipesTitle{
    font-family: "roboto", 'Times New Roman', Times, serif;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    }
  .nameIngredient{
    font-weight: bold;
  }
  li{
    line-height: 1.2;
  }

  #tagIngredient, #tagAppliance, #tagUstensiles{
    visibility: hidden;
  }